@model ECommerce.Models.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = Model.ProductName;
}
@{
    var products = ViewBag.Products as List<Product>;
}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" class="text-decoration-none fw-bold">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.ProductName</li>
        </ol>
    </nav>
</div>
<div class="container">
    <h4 class="pt-3">@Model.ProductName</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 p-md-2">
            <img src="~/assets/product/@Model.ImageUrl" class="img-fluid img-thumbnail p-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="p-md-3">
                    <h6>Description</h6>
                    <p>
                        @Model.Description
                    </p>
                </div>
                <div class="p-md-3">
                    <table class="table table-borderless">
                        <tr>
                            <th class="">Stock</th>

                            @if (Model.StockQuantity > 0)
                            {
                                <td class="text-success fw-bold">Available</td>
                            }
                            else
                            {
                                <td class="text-danger fw-bold">Out of Stock</td>
                            }
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>@Model.Price</td>
                        </tr>
                        <tr>
                            <th>Brand</th>
                            <td>@Model.Brand</td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td>
                                <div class="input-group mb-3 @if(Model.StockQuantity<1){
                                <text>d-none</text>
}" style="width: 150px;">
                                    <button class="input-group-text" id="decrease-quantity"><i class="fa-solid fa-minus"></i></button>
                                    <input type="number" class="form-control text-center" id="input-quantity" value="1" max="@Model.StockQuantity">
                                    <button class="input-group-text" id="increase-quantity">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="d-none text-secondary" id="max-quantity-validation">
                                        In stock: @Model.StockQuantity
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-6">
                    <button class="btn buy-button w-100" @(Model.StockQuantity < 1 ? "disabled" : "")>Buy Now</button>
                </div>
                <div class="col-md-4 col-6">
                    <button class="btn cart-button w-100 cart-button" @(Model.StockQuantity < 1 ? "disabled" : "")
                            data-product-id="@Model.ProductId"
                            data-product-name="@Model.ProductName"
                            data-price="@Model.Price"
                            data-product-stock="@Model.StockQuantity"
                            data-bs-toggle="modal" data-bs-target="#cartModal">
                        <i class="fa-solid fa-cart-shopping me-2"></i>
                        Add To Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cartModalLabel">Cart Information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-success">
                    @Model.ProductName added in your cart.
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a asp-action="Cart" asp-controller="Home" class="btn btn-primary btn-sm">
                        <i class="fa-solid fa-cart-shopping me-2"></i>Go To Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-5 ps-2 pe-2">
        <h4>Related Products</h4>
    </div>
    <div class="row ps-2 pe-2">
        <!-- Card -->
        @foreach (var item in products)
        {
            <!-- Card -->
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <div class="card home-card">
                    <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@item.ProductId" class="text-decoration-none text-black">
                        <!-- Image -->
                        <img src="~/assets/product/@Html.DisplayFor(modelItem => item.ImageUrl)" class="card-img-top img-fluid" alt="Card Image">
                        <!-- Card Body -->

                    </a>
                    <div class="card-body">
                        <p class="card-title fw-bold text-center text-truncate">
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </p>
                        <p class="card-text text-center">
                            Rs. @Html.DisplayFor(modelItem => item.Price)
                            <br>
                            @if (item.StockQuantity > 0)
                            {
                                <button class="btn btn-sm cart-button">Add to Cart</button>
                            }
                            else
                            {
                                <button class="btn btn-sm text-danger border-none bg-transparent">
                                    Out of Stock
                                </button>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
