@model IEnumerable<ECommerce.Models.Testimonial>
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@{
    ViewData["Title"] = "Index";
}
<h4 class="text-center">List of Testimonials</h4>

<p class="text-end">
    <a asp-action="Create" class="btn btn-sm create-button"><i class="fa-solid fa-plus"></i><span class="ms-2">Add New</span></a>
</p>
@if (Model.Count() < 1)
{
    <p class="text-center text-secondary">There are no available testimonials.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover bg-light">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Thumbnail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @if(String.IsNullOrEmpty(item.Thumbnail))
                            {
                                <img src="~/assets/profile.png" height="50" width="50" />
                            }
                            else{
                                <img src="~/assets/testimonial/@item.Thumbnail" height="50" width="50" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-regular fa-eye text-info"></i></a> |
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square text-primary"></i></a> |
                            <a class="delete-testimonial" href="" data-bs-toggle="modal" data-bs-target="#deleteTestimonialConfirmationModal" data-testimonial-id="@item.Id">
                                <i class="fa-regular fa-trash-can text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteTestimonialConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteTestimonialConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTestimonialConfirmationModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this testimonial?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm text-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i><span class="ms-2">Cancel</span></button>
                    <button type="button" class="btn btn-sm text-danger" id="testimonialDeleteButton"><i class="fa-regular fa-trash-can"></i><span class="ms-2">Delete</span></button>
                </div>
            </div>
        </div>
    </div>
}